.heading{
    align-items: center;
    text-align: center;
    padding: 1rem;
    background-color:whitesmoke;
    text-shadow:1rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:rgb(149, 65, 227);
}